<!DOCTYPE html>
<html>
<head>
    <title>Thank You</title>
</head>
<body>
    {% include 'back_button.html' %}
    
    <h1>Thanks for Your Feedback!</h1>
    <p>We appreciate your valuable feedback.</p>
</body>
</html>


<style>
    body{
        background-image: url("https://img.freepik.com/free-photo/psychedelic-paper-shapes-with-copy-space_23-2149378246.jpg?w=1060&t=st=1686891209~exp=1686891809~hmac=1f2d4e0a1e08eec385ca317361123fb2288a4a3c46a6c5ff011929affba35fb");
        background-size:cover;
    
    }
    
    
    h1{
        margin-left:150px;
        margin-top:150px;
       

       
    }
    p{
        margin-left:150px;
        font-size:x-large;
       
        
    }
</style>